{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="container">
        <h1>{{ Message }}</h1>
        <div class="well">
            <p>
                from: {{ message.sender.get_user_name }}
                <br>
                to: {{ message.receiver.get_user_name }}
                <br>
                date: {{ message.created }}
            </p>
            <hr>
            <h4>{{ message.title }}</h4>
            <p>
                {{ message.text }}
            </p>
            <p>
                <a class="btn btn-primary" href="{% url 'message_send' message.sender.pk  %}" role="button">
                    <i class="fa fa-reply"></i>
                    {% trans 'reply' %}
                </a>
            </p>
        </div>
    </div>
{% endblock %}
