{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="container">
        <h2>{% trans 'Messages' %}</h2>

        <table class="table table-hover">
            <tr>
                <th>{% trans 'title' %}</th>
                <th>{% trans 'sender' %}</th>
                <th>{% trans 'receiver' %}</th>
                <th>{% trans 'created' %}</th>
            </tr>
            {% for message in message_list  %}
                <tr {% if message.is_open %}class="success"{% endif %}>
                    <td>
                        <a href="{% url 'message_view' message.pk %}">{{ message.title }}</a>
                    </td>
                    <td>{{ message.sender.get_user_name }}</td>
                    <td>{{ message.receiver.get_user_name }}</td>
                    <td>{{ message.created }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

