{% load i18n %}

{% if request.user.is_authenticated %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            {% if message_new_count %}
                <sup>
                    <span class="badge btn-danger">{{ message_new_count }}</span>
                </sup>
            {% endif %}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            {% if message_new_count %}
                <li>
                    <a href="{% url 'message_list_new' %}">
                        {% trans 'new' %}
                        <span class="badge btn-danger">{{ message_new_count }}</span>
                    </a>
                </li>
            {% endif %}
            <li><a href="{% url 'message_list_inbox' %}">{% trans 'inbox' %}</a></li>
            <li><a href="{% url 'message_list_sent' %}">{% trans 'sent' %}</a></li>
        </ul>
    </li>

{% endif %}
