{% load i18n %}


<form action="{% url 'set_language' %}" method="post" class="navbar-form navbar-left">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path|slice:"3:" }}" />
    <div class="form-group">
        <select name="language" class="form-control" onchange="this.form.submit();">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                    {{ language.name_local|capfirst }} ( {{ language.code|upper }} )
                </option>
            {% endfor %}
        </select>
    </div>
</form>




{% comment %}

{% load locale %}

{% get_available_languages as languages %}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-language"></i>
        {{ LANGUAGE_CODE|upper }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        {% for lang_code, lang_name in languages %}
                <li><a href="{% change_lang lang_code %}">{{ lang_code|upper }} - {{ lang_name }}</a></li>
        {% endfor %}
    </ul>
</li>

{% endcomment %}
