{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="well">
            <h2>{% trans 'Avatar' %}</h2>
            {% if profile.avatar %}
                <div class="thumbnail">
                    {% thumbnail profile.avatar "200x200" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </div>
            {% endif %}
            <form method="post" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success btn-block">
                    {% trans 'Save' %}
                </button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock %}
