{% load i18n %}

{% if request.user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>
                {{ request.user.get_user_name }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'profile' request.user.pk %}">{% trans 'Profile' %}</a></li>
                {% if request.user.is_superuser %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{% url 'auth_logout' %}?next={% url 'home' %}">
                        <i class="fa fa-sign-out"></i>
                        {% trans 'Exit' %}
                    </a>
                </li>
            </ul>
        </li>
{% else %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i>
            {% trans 'Log in' %}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{% url 'auth_login' %}">
                    <i class="fa fa-sign-in"></i>
                    {% trans 'Log in' %}
                </a>
            </li>
            <li>
                <a href="{% url 'registration_register' %}">
                    <i class="fa fa-user-plus"></i>
                    {% trans 'Register' %}
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="{% url 'social:begin' 'facebook' %}?next={% url 'home' %}">
                    <i class="fa fa-facebook"></i>
                    facebook
                </a>
            </li>
            <li>
                <a href="{% url 'social:begin' 'vk-oauth2' %}?next={% url 'home' %}">
                    <i class="fa fa-vk"></i>
                    vk
                </a>
            </li>
            <li>
                <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'home' %}">
                    <i class="fa fa-google"></i>
                    google
                </a>
            </li>
        </ul>
    </li>
{% endif %}
