{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-md-2">
                    <div class="thumbnail">
                        {% if profile.avatar %}
                            {% thumbnail profile.avatar "200x200" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        {% else %}
                            <img src="{% static 'img/smile.png' %}" alt="Нет аватарки">
                        {% endif %}
                    </div>
                    {% if user == request.user %}
                        <p>
                            <a class="btn btn-primary btn-xs" href="{% url 'avatar_edit' %}" role="button"><i class="fa fa-pencil-square-o"></i> {% trans 'Avatar' %}</a>
                        </p>
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <h2>
                        {% if user.first_name %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                        {% if user == request.user %}
                            <a class="btn btn-primary btn-xs" href="{% url 'user_name_edit' %}" role="button"><i class="fa fa-pencil-square-o"></i> {% trans 'Name' %}</a>
                        {% endif %}
                    </h2>
                    <div>
                        <p>{{ profile.info }}</p>
                        {% if user == request.user %}
                            <p>
                                <a class="btn btn-primary btn-xs" href="{% url 'user_info_edit' %}" role="button"><i class="fa fa-pencil-square-o"></i> {% trans 'Info' %}</a>

                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="">
                <p>
                    <a class="btn btn-default" href="{% url 'message_send' user.pk  %}" role="button">
                        <i class="fa fa-envelope-o"></i>
                        {% trans 'send message' %}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

