{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Quantify</h1>
            <h2>
                {% trans "Сервис опросов" %}
            </h2>
            <p>
                {% blocktrans trimmed %}
                    Наши исследования самые исследовательские =)
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="container">
        <h2>{{ title }}</h2>
        <p>
            {{ text|safe }}
        </p>
    </div>

{% endblock %}
