{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="container">
        <h1>{{ title|default:'' }}</h1>
        <div>
            {{ page.text|safe }}
        </div>

    </div>
{% endblock %}
