{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            Quantify the World
        </title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'css/teaser.css' %}?v=4">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#teaser">
                        <img src="{% static 'img/hero-hands-up.png' %}" class="hero-logo">
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#about">About us</a></li>
                        <li><a href="#faq">FAQ</a></li>
                        <li><a href="#values">Our values</a></li>
                        <li><a href="#contact">Contact us</a></li>
                        <li><a href="http://blog.quantify.world/">Blog</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="mailto:info@quantify.world"><i class="fa fa-envelope-o"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'img/lang/uk.png' %}" class="lang-icon">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#"><img src="{% static 'img/lang/uk.png' %}" class="lang-icon"> English</a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'img/lang/ru.png' %}" class="lang-icon"> Русский</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section id="teaser">
            <div class="container">
                <h1 class="text-center">
                    <nobr><img src="{% static 'img/Q.svg' %}" class="q-letter" alt="First letter">uantify</nobr> the World
                </h1>
                <p class="tagline text-center">
                    Learn the world! And let the world learn you!
                </p>
            </div>
        </section>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            What is it all about?
                        </h2>
                        <div>
                            <p>
                                Quantify the world - is a community of people who asks questions and answers them. <br>
                                As a result, we have some statistics on opinion of people: from health and entertainment to business and politics!
                            </p>
                            <p>
                                Game-like design makes the project not just educating, but also very entertaining! <br>
                                Therefore asking and answering is neither boring nor hard, but fun and interesting :)
                            </p>
                            <p>
                                So let’s unite and create a place where you can find the data about people’s opinion for any topic!
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h2>
                            Who will love Quantify?
                        </h2>
                        <div>
                            <ul>
                                <li>Sociologists, psychologist, data analysts - students, scientists and professionals</li>
                                <li>Defenders and fans of freedom of information</li>
                                <li>People, who are interested in people</li>
                                <li>Anyone, who is interested in anything :)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="faq">
            <div class="container">
                <h2>FAQ</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>
                                <a href="#" class="faq-title">
                                    When will Quantify start?
                                </a>
                                <div class="faq-desc">
                                    We plan to launch the alfa-test on Summer 2016. BTW, if you are a JS or Python programmer - you can help us make it faster :)
                                </div>
                            </li>
                            <li>
                                <a href="#" class="faq-title">
                                    Who is making Quantify?
                                </a>
                                <div class="faq-desc">
                                    Quantify is and independent project, developed and support by a bunch of enthusiasts - sociologists, psychologists, programmers and data-analysts.
                                </div>
                            </li>
                            <li>
                                <a href="#" class="faq-title">
                                    What themes will it cover?
                                </a>
                                <div class="faq-desc">
                                    What themes does Wikipedia cover? Same here. We aim to cover all the themes, but it's all up to community.
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>
                                <a href="#" class="faq-title">
                                    How can I help?
                                </a>
                                <div class="faq-desc">
                                    Oh, you really can! We are an open-minded project and we would welcome your help! You can reach us at the bottom of the page. We will be happy to hear from you!
                                </div>
                            </li>
                            <li>
                                <a href="#" class="faq-title">
                                    Why are you making it?
                                </a>
                                <div class="faq-desc">
                                    We believe, that if people can get more information about each other, it will make the world a better place.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="values">
            <div class="container">
                <h2>Our values</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Open & Anonymous</h3>
                        <ul>
                            <li>Aggregated data is open to public</li>
                            <li>All the data is anonymous and secure</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Freedom & Science</h3>
                        <ul>
                            <li>Freedom of information makes world better</li>
                            <li>Everything we publish is based solely on data</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Friendly & Global</h3>
                        <ul>
                            <li>We are open to any friendly cooperatio</li>
                            <li>Project is not bound by a country, culture or l</li>anguage
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Tolerance & Impartiality</h3>
                        <ul>
                            <li>We do not divide opinions on right and wrong</li>
                            <li>We never propagandize, push or prejudge anything</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>How are we working</h2>
                        <p>
                            Quantify is an independent project and aims to  make the world a better place! <br>
                            We are open to any help or cooperation, which doesn’t contradict our values.
                        </p>

                        <h3>We are looking for</h3>
                        <ul>
                            <li>Progammers (JS, Python, SQL)</li>
                            <li>Sociologists and Psychologists</li>
                            <li>Marketers and Publishers</li>
                            <li>Translators and Editors</li>
                            <li>Experts in anything</li>
                            <li>And any ideological supporters</li>
                        </ul>
                        <p>
                            If you want to join our team - feel free to write us, we will be happy to welcome you!
                        </p>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <h2>Write us!</h2>
                    </div>
                </div>
            </div>
        </section>

        <footer>
        </footer>

        <!-- Modal -->
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="ModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="{% static 'js/main.js' %}?v=2"></script>
    </body>
</html>
