body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333333;
  background-color: #f9f9f9;
  /*margin-top: 51px;*/
}

img {
    height: auto;
    max-width: 100%;
    /*width: 100%;*/
}

.table-nonfluid {
   width: auto;
}

.popover {
  max-width: none;
}

