body {
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #000;
    background-color: #f9f9f9;
    margin-top: 51px;
}

img {
    height: auto;
    max-width: 100%;
    /*width: 100%;*/
}

.table-nonfluid {
    width: auto;
}

.popover {
    max-width: none;
}

.navbar-inverse {
    background-color: #000;
    background-image: none;
}

.navbar-inverse .navbar-nav>li>a{
    color: #FaFaFa;
    font-size: 15px;
    font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #9d9d9d;
}

.hero-logo {
    height: 30px;
    margin-top: -5px;

}

.lang-icon {
    width: 20px;
    height: 20px;
}


section {
    /*height: 500px;*/
    /*margin-top:-51px;*/
    padding-top:75px;
    padding-bottom: 100px;
    min-height: 100vh;
}

#teaser {
    padding-top: 200px;
    /*background: url('/static/img/bg/1.png') no-repeat center center fixed;*/
    background: url('/static/img/bg/1.png') no-repeat center center;
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

#about {
    background: #97C8CF;
}

#faq {
    background: #000;
    color: #FaFaFa;
}

#values {
    background: url('/static/img/bg/2.png') no-repeat center center;
    /*background: url('/static/img/bg/2.png') no-repeat center center fixed;*/
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

#contact {
    background: #000;
    color: #FaFaFa;
}

h2 {
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
}

p {
    margin-bottom: 20px;
}

#teaser h1 {
    font-size: 50px;
    font-weight: 700;
}

#teaser .q-letter {
    width: 50px;
}

#teaser .tagline {
    font-size: 20px;
    font-style: italic;
}

#faq li>a {
    color: #FaFaFa;
    font-size: 20px;
    font-weight: 400;
}

#faq li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.faq-desc {
    display: none!important;
}
