{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block regblock %}
    <h4>{% trans "Change password" %}</h4>
    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'Change password' %}" />
    </form>
{% endblock %}


{# This is used by django.contrib.auth #}
