{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="well">
            <h2>Slice answer table</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        {% for th in thead.1 %}
                            <th colspan="{{ th.col }}" rowspan="{{ th.row }}" >{{ th.text }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for th in thead.2 %}
                            <th colspan="{{ th.col }}" rowspan="{{ th.row }}" >{{ th.text }}</th>
                        {% endfor %}
                    </tr>
                    {% for tr in table %}
                        <tr>
                            {% for td in tr %}
                                <td>{{ td }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr class="info">
                        {% for td in tsum %}
                            <td>{{ td }}</td>
                        {% endfor %}
                    </tr>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
