{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="well">
            <h2>Slice quizes</h2>
            <form method="post" role="form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success btn-block">
                    <i class="fa fa-table"></i>
                    Slice
                </button>
            </form>
        </div>
    </div>
{% endblock %}
