{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    <div class="container">
        {% if not question.is_none %}
            {% if question.user == request.user and question.is_edit %}
                <p>
                    <a class="btn btn-primary" href="{% url 'question_edit' question.pk  %}" role="button"><i class="fa fa-pencil-square-o"></i> Edit </a>
                    <a class="btn btn-danger" href="{% url 'question_del' question.pk  %}" role="button"><i class="fa fa-ban"></i> Delete </a>
                </p>
            {% endif %}
            <p>
                <span class="label label-info"><i class="fa fa-filter"></i> {{ question.get_status_display }}</span>
                <br>
                {{ question.created }}
            </p>
                <hr>
            <blockquote>
              <p>{{ question.question }}</p>
            </blockquote>
            <form action="">
                {% for answer in question.answer.all %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="{{ answer.id }}">
                            {{ answer.answer }}
                        </label>
                    </div>
                {% endfor %}
            </form>
        {% else %}
            {% blocktrans trimmed %}
                Need translate
            {% endblocktrans %}
        {% endif %}
        <hr>
        <h6>Question is active ( show )</h6>
        <p>
            {% for lang in question.lang_show %}
                {% language lang %}
                    <a class="btn btn-default" href="{% url 'question' question.pk  %}" role="button">
                        <i class="fa fa-language"></i>
                        {{ lang|upper }}
                    </a>
                {% endlanguage %}
            {% endfor %}
        </p>
        <h6>Question is not none</h6>
        <p>
            {% for lang in question.lang_not_none %}
                {% language lang %}
                    <a class="btn btn-default" href="{% url 'question' question.pk  %}" role="button">
                        <i class="fa fa-language"></i>
                        {{ lang|upper }}
                    </a>
                {% endlanguage %}
            {% endfor %}
        </p>


    </div>
{% endblock %}

