{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="container">
        <h2>{% trans 'Questions' %}</h2>

        <div class="well">
            <h4>Выбраные теги</h4>
            <a href="?filter=clear" class="btn btn-danger">
                <i class="fa fa-ban"></i>
                all tags
            </a>

            {% for tag in tag_selected %}
                <a href="?tag_remove={{ tag.id }}" class="btn btn-danger">
                    <i class="fa fa-tag"></i>
                    {{ tag.tag }}
                </a>
            {% endfor %}

            <h4>Связаные теги</h4>
            {% for tag in tag_other %}
                <a href="?tag={{ tag.id }}" class="btn btn-primary">
                    <i class="fa fa-tag"></i>
                    {{ tag.tag }}
                </a>
            {% endfor %}
        </div>

        {% for question in question_list  %}
            <div class="well">
                <p>
                    {% if not question.is_none %}
                        {{ question.question }}
                    {% else %}
                        ---
                    {% endif %}
                </p>
                <p>
                    {% for tag in question.tag.all %}
                        <a href="?tag={{ tag.id }}" class="label label-primary">
                            <i class="fa fa-tag"></i>
                            {{ tag.tag }}
                        </a>
                    {% endfor %}
                </p>
                <p>
                    <span class="label label-info"><i class="fa fa-filter"></i> {{ question.get_status_display }}</span>
                    <br>
                    {{ question.created }}
                </p>
                <p>
                    {% if question.is_show %}
                        <a class="btn btn-success" href="{% url 'quiz_choice' question.pk  %}" role="button">
                            <i class="fa fa-check-square-o"></i>
                            {% trans 'Choice' %}
                        </a>
                    {% endif %}
                    <a class="btn btn-info" href="{% url 'quiz_stat' question.pk  %}" role="button">
                        <i class="fa fa-bar-chart"></i>
                        {% trans 'Result' %}
                    </a>
                    {% if not question.is_none %}
                        <a class="btn btn-default" href="{% url 'question' question.pk  %}" role="button">
                            <i class="fa fa-search"></i>
                            {% trans 'Show' %} (dev)
                        </a>
                    {% endif %}
                    {% if question.user == request.user and question.is_edit %}
                        <a class="btn btn-primary" href="{% url 'question_edit' question.pk  %}" role="button"><i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %} </a>
                        <a class="btn btn-danger" href="{% url 'question_del' question.pk  %}" role="button"><i class="fa fa-ban"></i> {% trans 'Delete' %} </a>
                    {% endif %}
                </p>
                <p>
                    {% for lang in question.lang_show %}
                        {% language lang %}
                            <a class="btn btn-default" href="{% url 'question' question.pk  %}" role="button">
                                <i class="fa fa-language"></i>
                                {{ lang|upper }}
                            </a>
                        {% endlanguage %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}

        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                </span>
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}

    </div>
{% endblock %}

