{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="well">
            {% if question.is_show %}
                <blockquote>
                  <p>{{ question.question }}</p>
                </blockquote>

                <form method="post" role="form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check-square-o"></i>
                        {% trans 'Choice' %}
                    </button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            {% else %}
                <h4>
                    {% blocktrans trimmed %}
                        Need translate
                    {% endblocktrans %}
                </h4>
            {% endif %}
            <hr>
            <p>
                {% for lang in question.lang_show %}
                    {% language lang %}
                        <a class="btn btn-default" href="{% url 'quiz_choice' question.pk  %}" role="button">
                            <i class="fa fa-language"></i>
                            {{ lang|upper }}
                        </a>
                    {% endlanguage %}
                {% endfor %}
            </p>
        </div>

    </div>
{% endblock %}

