{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="well">
            {% if not question.is_none %}
                <blockquote>
                  <p>{{ question.question }}</p>
                </blockquote>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>num</th>
                        <th>answer</th>
                        <th>count</th>
                        <th>procent</th>
                    </tr>
                    {% for field in table %}
                        <tr>
                            <td>{{ field.0 }}</td>
                            <td>{{ field.1 }}</td>
                            <td>{{ field.2 }}</td>
                            <td>{{ field.3 }} %</td>
                        </tr>
                    {% endfor %}
                </table>
                <p>
                    {% blocktrans trimmed %}
                        User answer count: {{ user_count }}
                    {% endblocktrans %}
                </p>
                <hr>
                <div id="bar-chart"></div>
                <hr>
                <div id="pie-chart"></div>
                <hr>
            {% else %}
                <h4>
                    {% blocktrans trimmed %}
                        Need translate
                    {% endblocktrans %}
                </h4>
            {% endif %}
            <hr>
            <p>
                {% for lang in question.lang_not_none %}
                    {% language lang %}
                        <a class="btn btn-default" href="{% url 'quiz_stat' question.pk  %}" role="button">
                            <i class="fa fa-language"></i>
                            {{ lang|upper }}
                        </a>
                    {% endlanguage %}
                {% endfor %}
            </p>
        </div>

    </div>
{% endblock %}

{% block extrajs %}
    <script>
        $(function () {
            $('#bar-chart').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '{{ question.question }}'
                },
                xAxis: {
                    categories: {{ chart.categories|safe }}
                },
                yAxis: {
                    tickInterval: 1,
                    title: {
                        text: ''
                    }
                },
                series: [{
                    name: 'Answers',
                    data: {{ chart.data|safe }}
                }]
            });
        });
    </script>
    {% if 'pie' %}
        <script>
            $(function () {
                $('#pie-chart').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: '{{ question.question }}'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: {{ pie.data|safe }}
                    }]
                });
            });
        </script>
    {% endif %}


{% endblock %}
