{% extends 'base.html' %}

{% block title %}
    404 page not found
{% endblock %}


{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>Потерялся?</h1>

      <h2>404 page not found</h2>
      <p><a href="{% url 'home' %}">на начало</a></p>
    </div>
  </div>
{% endblock %}