{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
                {{ title|default:"Quantify - сервис опросов" }}
            {% endblock %}
        </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
        {% block extrastyle %}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <i class="fa fa-angellist"></i>
                        Quantify
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'question_list_show' %}">{% trans 'Quiz' %}</a></li>
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% trans 'My quiz' %}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'question_list_user' request.user.id %}">{% trans 'My questions' %}</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'question_add' %}">{% trans 'Add question' %}</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% trans 'Reports' %}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'report_dump' %}">{% trans 'Dump' %}</a></li>
                                    <li><a href="{% url 'report_slice' %}">{% trans 'Slice' %}</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% include 'talk/nav_talk.html' %}
                        {% include 'base/nav_locale.html' %}
                        {% include 'users/nav_user.html' %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <footer>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled link-list">
                            <li>
                                <a href="{% url 'home' %}">
                                    Quantify
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-unstyled link-list">
                            <li>
                                <a href="{% url 'page' 'about' %}">
                                    {% trans 'About' %}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="container">
                <p>&copy; skomoroh</p>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        {% block extrajs %}
        {% endblock %}
        <script src="{% static 'js/main.js' %}?v=1"></script>
    </body>
</html>
