{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="well">
            <h2>{{ title|default:'' }}</h2>
            <form method="post" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                {% for formset in inlines %}
                    {{ formset|crispy }}
                {% endfor %}
                <button type="submit" class="btn btn-success btn-block">
                    {{ button|default:'Сохранить' }}
                </button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock %}
