{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="well">
            <h2>{{ title|default:'' }}</h2>
            <form method="post" role="form">
                {% csrf_token %}
                <p>Вы хотите удалить "{{ object }}"?</p>
                <button type="submit" class="btn btn-danger btn-block">
                    <i class="fa fa-ban"></i> Удалить
                </button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock %}
